.bike {
    &__photo {
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }

    &__title {
        font-size: 24px;
        line-height: 33.6px;
        font-weight: 700;
        margin-block: 32px 0;
    }

    &__description {
        margin-block: 8px 0;
    }

    &__price {
        font-size: 24px;
        line-height: 33.6px;
        font-weight: 700;
        margin-block: 16px 0;
    }
}
