.bike {
    &__link {
        display: inline-block;
    }

    &__photo {
        width: 100%;
        height: auto;

        @include hover(scale, 1.07);
    }

    &__title {
        margin-top: 32px;
    }

    &__description {
        margin-top: 8px;
    }

    &__price {
        margin-top: 16px;
    }
}
