.categories {
  &__category-wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__link-wrapper {
    @include page-grid;
  }

  &__link {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
