.compare-section {
    &__bikes {
        row-gap: 40px;

        @include page-grid;

        @include on-tablet {
            row-gap: 56px;
        }
    }

    &__bike {
        grid-column: 1 / -1;

        @include on-tablet {
            grid-column: 2 / -2;
        }

        @include on-desktop {
            grid-column: span 4;
        }
    }
}
