.details {
    scroll-margin-top: $scroll-margin-top;
    display: grid;
    row-gap: 48px;

    &__title {
        margin: 0;
    }

    &__category-wrapper {
        display: grid;
        row-gap: clamp(40px, 6.5vw, 48px);
    }

    &__explore-wrapper {
        @include page-grid;
    }

    &__explore {
        grid-column: 1 / -1;

        @include on-tablet {
            grid-column: 2 / -2;
        }

        @include on-desktop {
            grid-column: 5 / -5;
        }
    }
}
