.header {
    background-image: url(../../images/header-bg.webp);
    background-size: cover;
    background-position: center right clamp(15%, 20vw, 30%);

    &__content {
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        text-align: center;
        margin-bottom: clamp(88px, 20vw, 200px);
    }
}
