.header {
  box-sizing: border-box;
  height: 100vh;

  /* fallback */
  background-image: url(/src/assets/images/header-bg.jpg);

  /* for older WebKit browsers */
  background-image: -webkit-image-set(
    url('/src/assets/images/header-bg.webp') type('image/webp'),
    url('/src/assets/images/header-bg.jpg') type('image/jpeg')
  );

  /* for modern browsers */
  background-image: image-set(
    url(/src/assets/images/header-bg.webp) type('image/webp'),
    url(/src/assets/images/header-bg.jpg) type('image/jpeg')
  );

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__bottom {
    padding-bottom: 40px;

    @include content-padding-inline;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }

  &__title {
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }
  }
}
