.link {
    line-height: 27px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    color: #fff;
    background-color: #f98921;

    padding-block: 14.5px;
    border-radius: 8px;

    @include hover(background-color, #1b2129);

    &:active {
        background-color: #010810;
    }
}
