.page {
    font-family: Poppins, system-ui, sans-serif;
    font-size: 16px;
    line-height: 22.4px;
    color: $primary-color;
    background-color: $secondary-color;

    scroll-behavior: smooth;

    &__body {
        min-width: 320px;
    }

    &:has(.page__menu:target) {
        overflow: hidden; /* not to scroll the page */
    }

    &__menu {
        overflow: auto; /* to scroll the menu if needed */

        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        transition: translate 0.5s;
        translate: 0 -100%;

        &:target {
            translate: 0;
        }
    }
}
