.top-bar {
  padding-block: 24px;

  @include content-padding-inline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 32px;
  }

  &__logo-link {
    display: inline-flex;
  }

  &__logo {
    height: 16px;
    width: 152px;

    @include on-tablet {
      height: 24px;
      width: 228px;
    }
  }

  &__icons {
    display: flex;
    column-gap: 24px;

    @include on-tablet {
      column-gap: 32px;
    }
  }
}
