.top-bar {
  padding-block: 24px;
  @include contentPaddingInline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    padding-block: 32px;
  }

  &__logo-link {
    display: inline-flex;
  }

  &__logo {
    height: 16px;
    width: 152px;

    @include onTablet {
      height: 24px;
      width: 228px;
    }
  }

  &__icons {
    display: flex;
    column-gap: 24px;

    @include onTablet {
      column-gap: 32px;
    }
  }
}
